html {
	background-color: #141313;
	color: #f3f1f0;
	display: flex;
	flex-direction: column;
	font-family: helvetica;
}

body {
	width: 1200px;
	margin: 0 auto;
	background-color: #201d1e;
	filter: drop-shadow(0px 0px 20px black);
	padding-top: 30px;
}

.headerlogo {
	position: absolute;
	display: block;
	margin: 0 auto;
	margin-bottom: -20px;
	background-color: #201d1e;
	padding: 12px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
	width: 350px;
	height: auto;
	margin-left: 40px;
}

.heropic {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 550px;
	object-fit: cover;
	object-position: 0px 0px;
	margin-top: 30px;
}

h2 {
	font-family: 'Trocchi', serif;
	text-align: center;
	color: #f4d671;
	font-weight: lighter;
	letter-spacing: 0.04em;
	margin-top:80px;
	margin-bottom: 20px;
	font-size:21pt;
}

h3 {
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 18pt;
	font-weight: lighter;
	color:white;
	margin-top:12px;
}

h4 {
	font-family: 'Trocchi', serif;
	font-size:14pt;
	font-weight:bold;
	text-align: center;
	color:white;
	font-style: italic;
}

p {
	font-family: 'Noto Sans KR', sans-serif;
	padding-left:12px;
	padding-right:12px;
	line-height: 1.6em;
	font-size:12.2pt;
}

.pstyle::first-letter {
	font-size:18pt;
	color:white;
}


.beericon {
	display: block;
	height: 200px;
	width: auto;
	margin:0 auto;
}

.beersdiv {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.beerp {
	padding-left:0px;
	padding-right:0px;
	font-size:12pt;
}

main {
	width:1000px;
	margin:0 auto;
}

.wecont {
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: space-evenly;
}

.quotebox {
	width:320px;
	padding:0px;
	margin:0px;
	margin-top:16px;
	margin-bottom: 20px;
}

.center {
	text-align: center;
}

.beerscont {
	width:300px;
	background-color:;
}

.beerlist {
	padding-left:20px;
	font-size: 12.5pt;
	line-height: 1.8em;
	text-align: center;
}

.whycont {
	margin:0 auto;
	width:900px;
}

footer {
	width:1000px;
	margin:0 auto;
	margin-bottom: 22px;
}

.alignleft {
	text-align: left;
	padding-left: 10px;
	margin-top: 90px;
}

.fineprint {
	font-size: 10pt;
}

.hidden {
	display:none;
}